@using(Html.BeginForm("UserInfo", "Home", FormMethod.Post))
{
    <p>
        @Html.Label("Name", "Имя")<br>
        @Html.TextBox("Name")
    </p>
    <p>
        @Html.Label("Age", "Возраст")<br>
        @Html.TextBox("Age", "", new { type="number"})
    </p>
    <p>
        <input type="submit" value="Send">
    </p>
}
